# Include the data files
recursive-include msm_design/data/*.txt
recursive-include msm_design/data/*.py
recursive include msm_design/data/pdb_files/*.pdb
recursive include msm_design/data/model_files/*.txt

# Include the test runner script
# recursive-include scripts *
