# Include the data files
include msm_design/data/*.txt
include msm_design/data/*.py
include msm_design/data/pdb_files/*.pdb
include msm_design/data/model_files/*.txt

# Include the test runner script
# recursive-include scripts *
